# Patches Data Status
- Last updated: Tue Oct 20 19:24:14 UTC 2026
- Timestamp: 1792524254
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 811043 bytes
- Workflow run: Fetch and Update Patches Data #18071
- Patches changed: true
- New patches detected: 1
