# Patches Data Status
- Last updated: Tue Oct 13 01:29:07 UTC 2026
- Timestamp: 1791854947
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 809604 bytes
- Workflow run: Fetch and Update Patches Data #18024
- Patches changed: true
- New patches detected: 1
