# Patches Data Status
- Last updated: Mon Sep 21 20:01:52 UTC 2026
- Timestamp: 1790020912
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 786466 bytes
- Workflow run: Fetch and Update Patches Data #17917
- Patches changed: true
- New patches detected: 1
