# Patches Data Status
- Last updated: Wed Aug  5 20:22:50 UTC 2026
- Timestamp: 1785961370
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 800596 bytes
- Workflow run: Fetch and Update Patches Data #17117
- Patches changed: true
- New patches detected: 1
