# Patches Data Status
- Last updated: Thu Jul 30 15:09:24 UTC 2026
- Timestamp: 1785424164
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 787824 bytes
- Workflow run: Fetch and Update Patches Data #17036
- Patches changed: true
- New patches detected: 1
