# Patches Data Status
- Last updated: Wed Aug  5 17:16:46 UTC 2026
- Timestamp: 1785950206
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 799910 bytes
- Workflow run: Fetch and Update Patches Data #17115
- Patches changed: true
- New patches detected: 1
