# Patches Data Status
- Last updated: Wed Jul 29 16:13:51 UTC 2026
- Timestamp: 1785341631
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 787105 bytes
- Workflow run: Fetch and Update Patches Data #17023
- Patches changed: true
- New patches detected: 1
