# Patches Data Status
- Last updated: Mon Aug 17 16:51:10 UTC 2026
- Timestamp: 1786985470
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 800451 bytes
- Workflow run: Fetch and Update Patches Data #17422
- Patches changed: true
- New patches detected: 0
