# Patches Data Status
- Last updated: Thu Sep 24 20:35:09 UTC 2026
- Timestamp: 1790282109
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 798574 bytes
- Workflow run: Fetch and Update Patches Data #17935
- Patches changed: true
- New patches detected: 2
