# Patches Data Status
- Last updated: Thu Nov  5 15:39:35 UTC 2026
- Timestamp: 1793893175
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 814824 bytes
- Workflow run: Fetch and Update Patches Data #18151
- Patches changed: true
- New patches detected: 1
