# Patches Data Status
- Last updated: Mon Sep 14 22:10:50 UTC 2026
- Timestamp: 1789423850
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 801862 bytes
- Workflow run: Fetch and Update Patches Data #17872
- Patches changed: true
- New patches detected: 1
