# Patches Data Status
- Last updated: Mon Nov  9 21:09:48 UTC 2026
- Timestamp: 1794258588
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 821545 bytes
- Workflow run: Fetch and Update Patches Data #18169
- Patches changed: true
- New patches detected: 1
