# Patches Data Status
- Last updated: Thu Aug 13 20:28:08 UTC 2026
- Timestamp: 1786652888
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 800806 bytes
- Workflow run: Fetch and Update Patches Data #17290
- Patches changed: true
- New patches detected: 1
