# Patches Data Status
- Last updated: Fri Nov  6 01:52:28 UTC 2026
- Timestamp: 1793929948
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 817030 bytes
- Workflow run: Fetch and Update Patches Data #18153
- Patches changed: true
- New patches detected: 0
