# Patches Data Status
- Last updated: Tue Nov  3 23:34:35 UTC 2026
- Timestamp: 1793748875
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 813362 bytes
- Workflow run: Fetch and Update Patches Data #18145
- Patches changed: true
- New patches detected: 1
