# Patches Data Status
- Last updated: Mon Aug 31 20:26:27 UTC 2026
- Timestamp: 1788207987
- Source: https://downloads.esri.com/patch_notification/patches.json
- File size: 801176 bytes
- Workflow run: Fetch and Update Patches Data #17772
- Patches changed: true
- New patches detected: 1
